
p:has(+dl[id$="_projects_with_bestpractices"]),
h2:has(+p+dl[id$="_projects_with_bestpractices"]) {
  text-align: center;
}
 
dl[id$="_projects_with_bestpractices"] {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  & dt::after {
    content: "" !important;
  }
  & div {
    flex-basis: 12%;
    margin: 10px;
  }
  & dt img[src^="https://landscape"] {
    height: 150px;
  }
  & dt {
    text-align: center;
  }
  & dd {
    margin-left: 0;
  }
  & dd p {
    text-align: center;
  }
  & dd p:first-child {
      font-family: Arial;
      font-size: 13px;
      color: #AAAAAA;
  }
  & dd p:last-child {
      font-family: Arial;
      font-size: 17px;
      color: #999999;
  }
  & div dd p {
    margin-bottom: 0;
    margin-top: 0;
  }
}
