# TODO: 'schedules' will need to be updated for months that have 5 Thursdays, or if next meeting date is different than normal.

name: Schedule monthly TAC meetings
on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: wesleytodd/meeting-maker@v0
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        schedules: 2022-07-14T17:00:00.0Z/P2W
        createWithin: P1D
        issueTitle: "TAC Meeting <%= date.toFormat('yyyy-MM-dd') %>"
        agendaLabel: meeting-agenda
