name: Update TAC members
on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Check out repo
      uses: actions/checkout@v2
    - name: Grab latest TAC member list
      uses: carlosperate/download-file-action@v1.0.3
      with:
         file-url: 'https://docs.google.com/spreadsheets/d/e/2PACX-1vQy-os8zxtH10lReFECEXLVDhVZNJRDRaPXluCHwqAqZTWprfJ990yUj5gn4e4B1P7R59cbuqgyAMQG/pub?gid=2026616627&single=true&output=csv'
         file-name: '_data/tacmembers.csv'
    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v3
      with:
         token: ${{ secrets.PAT }}
         branch-suffix: timestamp
         path: .
         title: Update TAC members
         labels: automated-build
         commit-message: Update TAC members
         signoff: true

